main{
    position: relative;
    width: 100%;
    top: 7vw;;
}
main section{
    width: 90%;
    padding-bottom: 5vw;
    margin: auto;
    text-align: center;
}

.fotoPerfil p{
    margin-top: 0;
    text-transform: uppercase;
    line-height: normal;
}
.formulario p{
    font-size: 18px;
}
.formulario{
    margin: auto;
    width: 50%;
    padding: 2vw;
    background: #D9D9D9;
}
.formulario input{
    width: 100%;
}
.formulario p{
    text-align: left;
}
button{
    margin-top: 3vw;
    width: 15vw;
    background: #3F3636;
    border: 0;
    transition: all 0.3s;
}
button:hover{
    background-color: black;
}
button a{
    font-size: 1.5vw;
    color: white;
    text-transform: capitalize;
    text-decoration: none;
}
main p{
    font-size: 2vw;
    line-height: 1vw;

}